*
.DS_Store

### NOT IGNORE
!*.yaml
!*.css
!*.js
!.gitignore

### IGNORE
secrets.yaml
known_devices.yaml
entity_registry.yaml

!config

!automation
!automation/alarma
!automation/boton
!automation/dormitorio
!automation/enchufes
!automation/pir
!automation/presencia
!automation/telegram

!custom_components
!custom_components/alarm_control_panel

!groups

!panels

!scripts

!www
!www/alarm
!www/lib

!AUTOMATION.md
!README.md
!configuration.yaml
!secrets_EXAMPLE.yaml
