*
.DS_Store

### NOT IGNORE
!*.yaml
!*.css
!*.js
!*.py
!.gitignore
!.md

### IGNORE
secrets.yaml
known_devices.yaml
entity_registry.yaml

!config

!automation
!automation/alarma
!automation/boton
!automation/dormitorio
!automation/enchufes
!automation/pir
!automation/presencia
!automation/telegram

!custom_components
!custom_components/alarm_control_panel
!custom_components/sensor

!groups

!panels

!scripts

!www
!www/alarm
!www/lib

!documentacion
!documentacion/medidor_consumo.md
!documentacion/imgs

!AUTOMATION.md
!README.md
!configuration.yaml
!secrets_EXAMPLE.yaml
!gitupdate.sh
